<h1>Welkom op de energie verbruik pagina</h1>

Actueel verbruik:

<div id="placeholder" style="width:500px; height:250px;"></div>
<div id="info">
	<table>
		<tr>
			<td>Actuele waarde:</td>
			<td><span id="actual_value"></span></td>
		</tr>
		<tr>
			<td>Datum:</td>
			<td><span id="date"></span></td>
		</tr>
	
		</table>	
</div>
